<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Booking Confirmation</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<body>
    <div class="navbar">
        <a href="{% url 'home' %}">Home</a>
        <a href="{% url 'about' %}">About Us</a>
        <div class="dropdown">
            <a href="javascript:void(0)" class="dropbtn">Make a Booking</a>
            <div class="dropdown-content">
                <a href="{% url 'book_flights' %}">Book Flights</a>
                <a href="{% url 'book_cabs' %}">Book Cabs</a>
                <a href="{% url 'book_trains' %}">Book Trains</a>
            </div>
        </div>
        <a href="{% url 'create_account' %}">Create Account</a>
    </div>

    <div class="confirmation-message">
        <i class="fas fa-check-circle confirmation-icon"></i>
        <p>Email sent. We will contact you shortly.</p>
    </div>

    <script>
        setTimeout(function() {
            window.location.href = "{% url 'home' %}";
        }, 5000); // 5 seconds
    </script>

    <div class="footer">
        <p>&copy; 2023 Travnfy. All rights reserved.</p>
    </div>
</body>
</html>
